@media only screen and (max-width: 800px) {
  .mrgin_With20 {
    margin: 0 auto;
    width: 85%;
  }

  .loginimg {
    width: 100% !important;
    height: 400px !important;
  }

  .logincontent {
    padding-bottom: 35px;
  }

  .hideImage {
    display: none;
  }

  .mrgin_With20 {
    /* text-align: center; */
    margin-top: 15%;
  }

  .logoImage {
    height: 60px;
  }

  .modelSize {
    margin: 0 15px 0 19px;
  }
}

@media (min-width: 1400px) and (max-width: 2560px) {
  .back_absolute_btn {
    top: -35%;
  }

  .set-margin-left {
    margin-left: 41%;
  }
}

@media (min-width: 1000px) and (max-width: 1300px) {
  .back_absolute_btn {
    top: -35%;
  }

  .set-margin-left {
    margin-left: 29%;
  }
}

@media only screen and (max-width: 1000px) {
  .back_absolute_btn {
    top: 5%;
  }

  .mTopForMobile {
    margin-top: 10px;
  }

  .set-margin-left {
    margin-left: 0%;
  }
}

@media only screen and (min-width: 1000px) {
  .modelSize {
    margin: 0 285px 0 26px;
  }

}

@media only screen and (max-width: 767px) {

  .mutual-funds-searchbuttonprodgy12 {
    position: absolute;
    top: 30px;
    left: 15px;
  }

  .hide_on_desktop_btn {
    display: block;
    display: block;
    width: auto;
    padding: 8px 10px;
    border-radius: 10px;
    background: #011efe;
    color: #fff;
    border: 0;
    margin-bottom: 20px;
  }

  .hide_on_desktop_btn p {
    color: #fff;
    font-size: 18px;
  }

  .filter_acounts_mobile {
    position: absolute;
    width: 100%;
    left: -5500px;
  }
}

.activeDuratin {
  background: rgba(230, 232, 255, 1);
  color: rgba(1, 30, 254, 1);
  border-radius: 3px;
  padding: 2px 8px;
}