body{
  margin: 0px;
  padding: 0px;
  font-family: Tahoma, Verdana, sans-serif;

}

.login_hight_fixed{
  height: 100vh;
}

.mrgin_With20{
  margin: 0 auto;
  width: 60%;
}

p {
  font-family: Tahoma, Verdana, sans-serif;
  color: #646464;
  }
  .fontFamily{
    font-family: Tahoma, Verdana, sans-serif;
    /* color: #646464; */
    }
    .customButton{
      color: #FFF;
      background-color: #011EFE;
      border-radius: 9px;
      border: none;
      height: 36px;
    }
   
    /* form personal Details style sart  */
.personal_form_container{
max-width: 1050px;
margin: 0 auto;
}

.form_shadow{
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.breadcrumb-item + .breadcrumb-item::before{
  content: ">";
  padding: 0 5px;
  color: #6c757d;
  background-color:#F2F4FB";
}

    /* form  personal Details style end  */