body{
  margin: 0px;
  padding: 0px;
  font-family: Tahoma, Verdana, sans-serif;

}

.login_hight_fixed{
  height: 100vh;
}

.mrgin_With20{
  margin: 0 auto;
  width: 60%;
}

p {
  font-family: Tahoma, Verdana, sans-serif;
  color: #646464;
  }
  .fontFamily{
    font-family: Tahoma, Verdana, sans-serif;
    /* color: #646464; */
    }
    .customButton{
      color: #FFF;
      background-color: #011EFE;
      border-radius: 9px;
      border: none;
      height: 36px;
    }
   
    /* form personal Details style sart  */
.personal_form_container{
max-width: 1050px;
margin: 0 auto;
}

.form_shadow{
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.breadcrumb-item + .breadcrumb-item::before{
  content: ">";
  padding: 0 5px;
  color: #6c757d;
  background-color:#F2F4FB";
}

    /* form  personal Details style end  */

    .logoImage{
      width: 250px;
    }
    .mobileIcon{
      height: 70px;
      margin-bottom: 30px;
    }

  .fs12px{
    font-size: 12px;
  }
  .otpBox {
    width: 40px;
    height: 45px;
    font-size: 15px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 0 8px; /* Adds spacing between OTP boxes */
    outline: none;
  }
  
  .otpBox:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
    
   
